/* Again, only touch stuff that is under your section to avoid conflicts later... */

/* Global font - DO NOT */

@font-face {
    font-family: 'adelica brush';
    src: url('Adelica Brush.ttf');
}
@font-face {
  font-family: FuturaCondBold;
  src: url("Futura/FuturaPTCondBold.ttf");
}

@font-face {
  font-family: FuturaExtraBold;
  src: url("Futura/FuturaPTExtraBold.ttf");
}
/* NAVBAR ELEMENTS */
.navbar-brand, .nav-link{
    color: white !important;
    font-family: adelica brush;
}

.nav-link {
    margin: 0px 2.5%;
}

.register {
    background: #3687FF;
    border-radius: 10px;
}

/* SECTION 1 ELEMENTS */
/* .welcome {
    margin-left: 7vw
}

.hero .container-fluid {
    padding-left: 7vw;
    padding-right: 5vw;
} */

.title {
  font-family: FuturaCondBold;
  color: #b37a4c;
  text-shadow: 2px 2px #215e4a;
  font-size: 44px;
  font-stretch: ultra-expanded;
}

.text {
  font-family: FuturaCondBold;
  margin: 0;
  font-weight: 400;
  color: #08162c;
  font-size: 24px; !important
}

.terranova_img {
  max-width: 100%;
  height: auto;
  padding: 0;
}
